.cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.cont > h3{
    grid-column: 1 / 4;
    text-align: center;
}

.cont > a{
    border: 4px solid rgb(79, 79, 79);
    background-color: rgb(79, 79, 79);
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    color: antiquewhite;

    padding: 3px;
    margin: 10px;
}

.cont > a:hover{
    color: rgb(159, 149, 136);
    border: 4px solid rgb(185, 185, 185);
    background-color: rgb(185, 185, 185);
}

#main{
    display: block;

    grid-column-end: 3;

    text-align: center;
}

#nav-bar{
    display: flex;
    justify-content: space-around;

    border: 3px solid black;
    border-radius: 5px;

    padding: 10px;

    background-color: rgb(32, 32, 32);
}

#nav-bar > a{
    text-decoration: none;
    color: antiquewhite;
    
    margin: 2px;
}